body {
  background-color: #000000;
  color: white;
}

header {
  background: #000000;
  #block-solitheme-site-branding {
    width: fit-content;
    padding: 1rem;
    img {
      height: 50px;
    }
  }
}
