body {
  background-color: #141414;
  color: white;

}

#block-solitheme-site-branding {
  img {
    height: 80px;
  }
}

header {
  background: #00000000;
    position: fixed;
    z-index: 5;
    top: 121px;
}