
@mixin circle($color) {
    position: relative;
    &::before {
      font-family: 'material icons';
      content: '\e836';
      font-size: 18px;
      }
  
    &:hover {
      &::after {
        content: " ";
        position: absolute;
        top: 5.5px;
        left: 4px;
        display: block;
        font-size: 8px;
        background: $color;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
    }
  }